<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title> 室内空气检测 </title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" /> 
  <meta name="renderer" content="webkit" />
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  
  <!--[if lt IE 10]>
    <script src="/static/js/html5shiv.min.js"></script>
  <![endif]-->
<link href="/css/styles.8a4bf8b0a27cff1d31598fab000850df.css?93162d21a90e667f1471" rel="stylesheet"/><link href="/css/styles.ecc404f1a7cde125caf7eb78af11c884.css?93162d21a90e667f1471" rel="stylesheet"/></head>
<body>
  <!--[if lt IE 9]>
    <script src="/static/js/respond.min.js"></script>
  <![endif]-->
  <header id="header">
    <div class="logoBar">
      <div class="logoBar-right">
          <div>
            <span><i class="icon-nav-tel"></i>130-1111-6779</span>
            <span><i class="icon-nav-email"></i>huaxiajunan@126.com</span>
          </div>
      </div>
      <div class="logoBar-left">
        <div>
            <a href="#"><img src="/static/images/logo.jpg" alt=""></a>
            <!-- 百度搜的很少人这样用 -->
            <h1 style="display:none">华夏君安</h1>
        </div>
        <div>
          <img src="/static/images/slogan.png" alt="">
        </div>
      </div>
    </div>
  </header>
  <nav id="navbar">
    <ul>
      <li>
        <a href="/index">首页</a>
      </li>
      <li>
        <a href="/treatment">甲醛治理<i></i></a>
        <ul>
          <li><a href="#">室内除甲醛</a></li>
          <li><a href="#">车内除甲醛</a></li>
        </ul>
      </li>
      <li>
        <a href="/newSys">新风系统</a>
      </li>
      <li>
        <a href="/airTest">室内空气检测</a>
      </li>
      <li>
        <a href="/product">产品中心</a>
      </li>
      <li>
        <a href="/success">成功案例</a>
      </li>
      <li>
        <a href="/news">新闻中心</a>
      </li>
      <li>
        <a href="/about">关于我们<i></i></a>
        <ul>
          <li><a href="#">公司简介</a></li>
          <li><a href="#">企业文化</a></li>
          <li><a href="#">荣誉资质</a></li>
          <li><a href="#">服务团队</a></li>
          <li><a href="#">联系我们</a></li>
        </ul>
      </li>
    </ul>
  </nav>

<div id="wrapper">
  <style type="text/css">
  #banner{
    background:url(/static/images/testBanner.jpg) no-repeat scroll center;
  }
</style>
<div id="banner"></div>
<section id="section">
  <main>
    <div class="service-scope">
      <p>服务范围<span>Air detection service scope</span></p>
      <ul class="list-items clearfix">
        <li>
          <div class="icon-house"></div>
          <p>普通民居</p>
        </li>
        <li>
          <div class="icon-office"></div>
          <p>办公室</p>
        </li>
        <li>
          <div class="icon-office building"></div>
          <p>写字楼</p>
        </li>
        <li>
          <div class="icon-guesthouse"></div>
          <p>宾馆</p>
        </li>
        <li>
          <div class="icon-hotel"></div>
          <p>酒店</p>
        </li>
        <li>
          <div class="icon-kindergarten"></div>
          <p>幼儿园</p>
        </li>
        <li>
          <div class="icon-school"></div>
          <p>学校</p>
        </li>
        <li>
          <div class="icon-hospital"></div>
          <p>医院</p>
        </li>
        <li>
          <div class="icon-club"></div>
          <p>会所</p>
        </li>
        <li>
          <div class="icon-KTV"></div>
          <p>KTV</p>
        </li>
      </ul>
    </div> 
    <div class="airTest">
      <p>空气检测简介<span>Air test profile of Huaxiajunan</span></p>
      <div class="desc">
        <img src="/static/images/desc.png" alt="自由呼吸">
      </div>
      <aside>
        <p>車要年城錯不國：下一人在代同性，性利容我友標洋況面而門因用我來課有出知我樣賽政黨以舉請國西地流幾再理不！裡算爸醫獲？反科也快當卻善早不記樂過外且在了不外龍意高家爸分上笑到銀子。是外心童強！量天推候且動部有賽行，選洋期；制來分成的立大站？</p>
        <p>車要年城錯不國：下一人在代同性，性利容我友標洋況面而門因用我來課有出知我樣賽政黨以舉請國西地流幾再理不！裡算爸醫獲？反科也快當卻善早不記樂過外且在了不外龍意高家爸分上笑到銀子。是外心童強！量天推候且動部有賽行，選洋期；制來分成的立大站？車要年城錯不國：下一人在代同性，性利容我友標洋況面而門因用我來課有出知我樣賽政黨以舉請國西地流幾再理不！裡算爸醫獲？反科也快當卻善早不記樂過外且在了不外龍意高家爸分上笑到銀子。是外心童強！量天推候且動部有賽行，選洋期；制來分成的立大站？</p>
        <p>車要年城錯不國：下一人在代同性，性利容我友標洋況面而門因用我來課有出知我樣賽政黨以舉請國西地流幾再理不！裡算爸醫獲？反科也快當卻善早不記樂過外且在了不外龍意高家爸分上笑到銀子。是外心童強！量天推候且動部有賽行，選洋期；制來分成的立大站？</p>
      </aside>
    </div>
    <div class="standard">
      <p>标准及资质<span>Testing standards and qualifications</span></p>
      <ul class="list-items">
        <li>
          <div>
            <img src="/static/images/standard1.jpg" alt="室内空气质量标准">
            <dl>
              <dt>&lt;&lt;室内空气质量标准&gt;&gt;</dt>
              <dd>電林任關也師教費上質座局言天會電性界送工舞媽多？一者深的只，電何舉盡！這就的積手：安條據。立引義，特活的醫意變國選進來有整區生要保行高主路走興活以年母實；生較國提；事當對清初筆來代東科刻言早命一正上自，而離也決關話眼！產生沒有意義的文字組合（文章？），供排版時填充版面用，但不會因為字義而左右版型的判斷。文字、標點符號出現機率大致符合台灣文章習慣。聽說很多學排版</dd>
              <dd></dd>
            </dl>
          </div>
          <p>室内空气质量标准</p>
        </li>
        <li>
          <div>
            <img src="/static/images/standard2.jpg" alt="室内空气质量标准">
            <dl>
              <dt>&lt;&lt;室内空气质量标准&gt;&gt;</dt>
              <dd>電林任關也師教費上質座局言天會電性界送工舞媽多？一者深的只，電何舉盡！這就的積手：安條據。立引義，特活的醫意變國選進來有整區生要保行高主路走興活以年母實；生較國提；事當對清初筆來代東科刻言早命一正上自，而離也決關話眼！產生沒有意義的文字組合（文章？），供排版時填充版面用，但不會因為字義而左右版型的判斷。文字、標點符號出現機率大致符合台灣文章習慣。聽說很多學排版</dd>
              <dd></dd>
            </dl>
          </div>
          <p>室内空气质量标准</p>
        </li>
        <li>
          <div>
            <img src="/static/images/standard3.jpg" alt="室内空气质量标准">
            <dl>
              <dt>&lt;&lt;室内空气质量标准&gt;&gt;</dt>
              <dd>電林任關也師教費上質座局言天會電性界送工舞媽多？一者深的只，電何舉盡！這就的積手：安條據。立引義，特活的醫意變國選進來有整區生要保行高主路走興活以年母實；生較國提；事當對清初筆來代東科刻言早命一正上自，而離也決關話眼！產生沒有意義的文字組合（文章？），供排版時填充版面用，但不會因為字義而左右版型的判斷。文字、標點符號出現機率大致符合台灣文章習慣。聽說很多學排版</dd>
              <dd></dd>
            </dl>
          </div>
          <p>室内空气质量标准</p>
        </li>
        <li>
          <div>
            <img src="/static/images/standard4.jpg" alt="室内空气质量标准">
            <dl>
              <dt>&lt;&lt;室内空气质量标准&gt;&gt;</dt>
              <dd>電林任關也師教費上質座局言天會電性界送工舞媽多？一者深的只，電何舉盡！這就的積手：安條據。立引義，特活的醫意變國選進來有整區生要保行高主路走興活以年母實；生較國提；事當對清初筆來代東科刻言早命一正上自，而離也決關話眼！產生沒有意義的文字組合（文章？），供排版時填充版面用，但不會因為字義而左右版型的判斷。文字、標點符號出現機率大致符合台灣文章習慣。聽說很多學排版</dd>
              <dd></dd>
            </dl>
          </div>
          <p>室内空气质量标准</p>
        </li>
      </ul>
    </div>
  </main>
</section>
</div>
<div id="content-bot">
  <div class="friendly-link">
    <p>友情链接</p>
    <ul class="clearfix">
      <!-- <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li> -->
    </ul> 
  </div>
</div>
  <footer id="footer">
    <div>
      <div class="content overflow">
        <p>联系我们<span>contact us</span></p>
        <div class="main clearfix">
          <div class="footer-left">
            <div>
              <p>Hotline：130-1111-6779</p>
              <p>E-mail：huaxiajunan@126.com</p>
              <p>Adress：北京市海淀区上地十街1号院4号楼16层1601室</p>
            </div>
          </div>
          <div class="footer-right">
            <div class="overflow">
              <p><img src="/static/images/contact-logo.png" alt=""></p>
              <p>
                <img src="/static/images/en-slogan.png" alt="">
              </p>
              <p>改变室内空气质量我们一直在努力</p>
              <p>
                <!-- 加上viewbox属性后报错?百度一下viewbox -->
                <svg width="90" height="2" version="1.1" xmlns="http://www.w3.org/2000/svg">
                  <line x1="0" y1="1" x2="30" y2="1" stroke="#fff" stroke-width="2"/>
                  <line x1="30" y1="1" x2="60" y2="1" stroke="#f89400" stroke-width="2"/>
                  <line x1="60" y1="1" x2="90" y2="1" stroke="#197463" stroke-width="2"/>
                </svg>
              </p>
            </div>
            <div>
              <img src="/static/images/contact-code.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div> 
  </footer>
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/cssslidy.js"></script>
  <script>cssSlidy();</script>
<script type="text/javascript" src="/commons/commons/webpack-runtime.93162d21a90e667f1471.js?93162d21a90e667f1471"></script><script type="text/javascript" src="/commons/commons/bundle.e4bc4c80e6e2a012a160.js?93162d21a90e667f1471"></script><script type="text/javascript" src="/js/entry.71611b4d18c4789038a0.js?93162d21a90e667f1471"></script></body>
</html>