/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-newsArrow {
  background-image: url(/static/images/sprite.png);
  background-position: 0px 0px;
  width: 7px;
  height: 12px;
}
.icon-nav-email {
  background-image: url(/static/images/sprite.png);
  background-position: 0px -12px;
  width: 24px;
  height: 18px;
}
.icon-nav-tel {
  background-image: url(/static/images/sprite.png);
  background-position: 0px -30px;
  width: 19px;
  height: 22px;
}
.icon-locationIcon {
  background-image: url(/static/images/sprite.png);
  background-position: 0px -52px;
  width: 15px;
  height: 22px;
}
.icon-newsTitle {
  background-image: url(/static/images/sprite.png);
  background-position: 0px -74px;
  width: 6px;
  height: 30px;
}
.icon-guesthouse {
  background-image: url(/static/images/sprite.png);
  background-position: 0px -104px;
  width: 45px;
  height: 33px;
}
.icon-school {
  background-image: url(/static/images/sprite.png);
  background-position: 0px -137px;
  width: 51px;
  height: 34px;
}
.icon-office {
  background-image: url(/static/images/sprite.png);
  background-position: 0px -171px;
  width: 36px;
  height: 36px;
}
.icon-house {
  background-image: url(/static/images/sprite.png);
  background-position: 0px -207px;
  width: 37px;
  height: 37px;
}
.icon-kindergarten {
  background-image: url(/static/images/sprite.png);
  background-position: 0px -244px;
  width: 43px;
  height: 37px;
}
.icon-hospital {
  background-image: url(/static/images/sprite.png);
  background-position: 0px -281px;
  width: 35px;
  height: 37px;
}
.icon-KTV {
  background-image: url(/static/images/sprite.png);
  background-position: 0px -318px;
  width: 37px;
  height: 37px;
}
.icon-hotel {
  background-image: url(/static/images/sprite.png);
  background-position: 0px -355px;
  width: 43px;
  height: 40px;
}
.icon-office building {
  background-image: url(/static/images/sprite.png);
  background-position: 0px -395px;
  width: 30px;
  height: 40px;
}
.icon-club {
  background-image: url(/static/images/sprite.png);
  background-position: 0px -435px;
  width: 37px;
  height: 41px;
}
.icon-nextSlide {
  background-image: url(/static/images/sprite.png);
  background-position: 0px -476px;
  width: 24px;
  height: 44px;
}
.icon-prevSlide {
  background-image: url(/static/images/sprite.png);
  background-position: 0px -520px;
  width: 23px;
  height: 44px;
}
.icon-auIdea {
  background-image: url(/static/images/sprite.png);
  background-position: 0px -564px;
  width: 50px;
  height: 50px;
}
.icon-auSpirit {
  background-image: url(/static/images/sprite.png);
  background-position: 0px -614px;
  width: 50px;
  height: 50px;
}
.icon-auMission {
  background-image: url(/static/images/sprite.png);
  background-position: 0px -664px;
  width: 50px;
  height: 50px;
}
.icon-auGoal {
  background-image: url(/static/images/sprite.png);
  background-position: 0px -714px;
  width: 50px;
  height: 50px;
}
