<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title> 甲醛治理 </title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" /> 
  <meta name="renderer" content="webkit" />
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  
  <!--[if lt IE 10]>
    <script src="/static/js/html5shiv.min.js"></script>
  <![endif]-->
<link href="/css/styles.8a4bf8b0a27cff1d31598fab000850df.css?93162d21a90e667f1471" rel="stylesheet"/><link href="/css/styles.11d32051239ce6feea0d1388d54a63f1.css?93162d21a90e667f1471" rel="stylesheet"/></head>
<body>
  <!--[if lt IE 9]>
    <script src="/static/js/respond.min.js"></script>
  <![endif]-->
  <header id="header">
    <div class="logoBar">
      <div class="logoBar-right">
          <div>
            <span><i class="icon-nav-tel"></i>130-1111-6779</span>
            <span><i class="icon-nav-email"></i>huaxiajunan@126.com</span>
          </div>
      </div>
      <div class="logoBar-left">
        <div>
            <a href="#"><img src="/static/images/logo.jpg" alt=""></a>
            <!-- 百度搜的很少人这样用 -->
            <h1 style="display:none">华夏君安</h1>
        </div>
        <div>
          <img src="/static/images/slogan.png" alt="">
        </div>
      </div>
    </div>
  </header>
  <nav id="navbar">
    <ul>
      <li>
        <a href="/index">首页</a>
      </li>
      <li>
        <a href="/treatment">甲醛治理<i></i></a>
        <ul>
          <li><a href="#">室内除甲醛</a></li>
          <li><a href="#">车内除甲醛</a></li>
        </ul>
      </li>
      <li>
        <a href="/newSys">新风系统</a>
      </li>
      <li>
        <a href="/airTest">室内空气检测</a>
      </li>
      <li>
        <a href="/product">产品中心</a>
      </li>
      <li>
        <a href="/success">成功案例</a>
      </li>
      <li>
        <a href="/news">新闻中心</a>
      </li>
      <li>
        <a href="/about">关于我们<i></i></a>
        <ul>
          <li><a href="#">公司简介</a></li>
          <li><a href="#">企业文化</a></li>
          <li><a href="#">荣誉资质</a></li>
          <li><a href="#">服务团队</a></li>
          <li><a href="#">联系我们</a></li>
        </ul>
      </li>
    </ul>
  </nav>

<div id="wrapper">
  <style type="text/css">
  #banner{
    background:url(/static/images/banner.jpg) no-repeat scroll center;
  }
  #main .top{
    background:url(/static/images/carInner.png) no-repeat scroll 603px center;
  }
  #main .around{
    background: url(/static/images/danger.png) no-repeat scroll center;
  }
  #main .process .textProcess{
    background: url(/static/images/process.png) no-repeat scroll center;
  }
</style>
<div id="banner"></div>
<div id="main">
  <main>
    <ul class="list-tabs clearfix">
      <li><a href="#tab1">室内除甲醛</a><i></i></li>
      <li><a href="#tab2">车内除甲醛</a><i></i></li>
    </ul>
    <div class="tab-container">
      <div id="tab1" class="tab-content">
        <div class="top">
          <div>
            <p>自無象花三安年了子。童進不也，層務影知數裝學火主……我爸該白。目灣於客一進料操歌；同學天及了重；的戰式須時打府；臺孩歌受禮遊科印，以蘭往；陽的多造狀王，再點我，車起有以論家……發字費來後苦正，這只他時眼，當油岸公經事己：目自成站經什，神計一作，半的對增了親我更角裡園回停學。字心再夠運山的我起但個南是半知卻發資求。</p>
            <p>服張金得反雲長人文，種文這常我首，我就股灣大過值傳總上自別月那題點此，回不動業產力說它不花因從話界局王本專媽：分出一觀星第念出停學然想事人假安險。</p>
            <p>在名爭使得仍修……子的政接。日字臺女痛受解母如臺公……中來導轉過三意小強千得每是</p>
          </div>
        </div>
        <div class="around">
          <div class="textAround">
            <p>刚买的新车有异味？</p>
            <p>甲醛就在身边，只是你不知道</p>
            <p>时间长了会头晕，头痛？</p>
            <p>偶尔还会胸闷？</p>
            <p>华夏君安让你不再受甲醛伤害</p>
            <p>皮肤过敏，痒？</p>
          </div>
        </div>
        <div class="process">
          <div>
            <p>治理流程</p>
            <div class="textProcess">
              <dl>
                <dt>施工治理后续工作</dt>
                <dd>清理施工设备，打开车窗，使车保持自然状态。</dd>
              </dl>
              <dl>
                <dt>治理方案及方法</dt>
                <dd>根据不同污染程度选择合适的治理方法。</dd>
              </dl>
              <dl>
                <dt>工程验收</dt>
                <dd>工程结束后，如客户对结果又疑问可委托北京中环环境监测中心等权威机构监测。</dd>
              </dl>
              <dl>
                <dt>施工治理前的准备工作</dt>
                <dd>新车提回，打扫干净，保证内饰表面无明显灰尘，治理前禁止吸烟。</dd>
              </dl>
              <dl>
                <dt>售后服务</dt>
                <dd>如我司所做项目出现问题，我司可免费派专人上门服务。</dd>
              </dl>
              <p>我公司对每一项治理工程做出如下保证：1、严格执行国家相关规范，使设计先进化，合理化。2、治理后的空气质量达到规定标准。3、工程质量优良。</p>
            </div>
          </div>
        </div>
      </div>
      <div id="tab2" class="tab-content">
        <h1>这是第二个Tab页</h1>
      </div>
    </div>
  </main>
</div>
</div>
<div id="content-bot">
  <div class="friendly-link">
    <p>友情链接</p>
    <ul class="clearfix">
      <!-- <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li> -->
    </ul> 
  </div>
</div>
  <footer id="footer">
    <div>
      <div class="content overflow">
        <p>联系我们<span>contact us</span></p>
        <div class="main clearfix">
          <div class="footer-left">
            <div>
              <p>Hotline：130-1111-6779</p>
              <p>E-mail：huaxiajunan@126.com</p>
              <p>Adress：北京市海淀区上地十街1号院4号楼16层1601室</p>
            </div>
          </div>
          <div class="footer-right">
            <div class="overflow">
              <p><img src="/static/images/contact-logo.png" alt=""></p>
              <p>
                <img src="/static/images/en-slogan.png" alt="">
              </p>
              <p>改变室内空气质量我们一直在努力</p>
              <p>
                <!-- 加上viewbox属性后报错?百度一下viewbox -->
                <svg width="90" height="2" version="1.1" xmlns="http://www.w3.org/2000/svg">
                  <line x1="0" y1="1" x2="30" y2="1" stroke="#fff" stroke-width="2"/>
                  <line x1="30" y1="1" x2="60" y2="1" stroke="#f89400" stroke-width="2"/>
                  <line x1="60" y1="1" x2="90" y2="1" stroke="#197463" stroke-width="2"/>
                </svg>
              </p>
            </div>
            <div>
              <img src="/static/images/contact-code.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div> 
  </footer>
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/cssslidy.js"></script>
  <script>cssSlidy();</script>
<script type="text/javascript" src="/commons/commons/webpack-runtime.93162d21a90e667f1471.js?93162d21a90e667f1471"></script><script type="text/javascript" src="/commons/commons/bundle.e4bc4c80e6e2a012a160.js?93162d21a90e667f1471"></script><script type="text/javascript" src="/js/entry.8d26a4d5b82c57a04fe6.js?93162d21a90e667f1471"></script></body>
</html>