<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title> 产品中心详情 </title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" /> 
  <meta name="renderer" content="webkit" />
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  
  <!--[if lt IE 10]>
    <script src="/static/js/html5shiv.min.js"></script>
  <![endif]-->
<link href="/css/styles.8a4bf8b0a27cff1d31598fab000850df.css?93162d21a90e667f1471" rel="stylesheet"/><link href="/css/styles.a8e0364aae5b67aeb6c869d5e0714fc7.css?93162d21a90e667f1471" rel="stylesheet"/></head>
<body>
  <!--[if lt IE 9]>
    <script src="/static/js/respond.min.js"></script>
  <![endif]-->
  <header id="header">
    <div class="logoBar">
      <div class="logoBar-right">
          <div>
            <span><i class="icon-nav-tel"></i>130-1111-6779</span>
            <span><i class="icon-nav-email"></i>huaxiajunan@126.com</span>
          </div>
      </div>
      <div class="logoBar-left">
        <div>
            <a href="#"><img src="/static/images/logo.jpg" alt=""></a>
            <!-- 百度搜的很少人这样用 -->
            <h1 style="display:none">华夏君安</h1>
        </div>
        <div>
          <img src="/static/images/slogan.png" alt="">
        </div>
      </div>
    </div>
  </header>
  <nav id="navbar">
    <ul>
      <li>
        <a href="/index">首页</a>
      </li>
      <li>
        <a href="/treatment">甲醛治理<i></i></a>
        <ul>
          <li><a href="#">室内除甲醛</a></li>
          <li><a href="#">车内除甲醛</a></li>
        </ul>
      </li>
      <li>
        <a href="/newSys">新风系统</a>
      </li>
      <li>
        <a href="/airTest">室内空气检测</a>
      </li>
      <li>
        <a href="/product">产品中心</a>
      </li>
      <li>
        <a href="/success">成功案例</a>
      </li>
      <li>
        <a href="/news">新闻中心</a>
      </li>
      <li>
        <a href="/about">关于我们<i></i></a>
        <ul>
          <li><a href="#">公司简介</a></li>
          <li><a href="#">企业文化</a></li>
          <li><a href="#">荣誉资质</a></li>
          <li><a href="#">服务团队</a></li>
          <li><a href="#">联系我们</a></li>
        </ul>
      </li>
    </ul>
  </nav>

<div id="wrapper">
  <style type="text/css">
  #banner{
    background:url(/static/images/proBanner.jpg) no-repeat scroll center;
  }
  button[type="submit"]{
    background: url(/static/images/proSubmit.png) no-repeat scroll center;
  }
</style>
<div id="banner"></div>
<div class="detailContainer">
  <div class="proAppearance">
    <div class="left">
      <nav>
        <i class="icon-locationIcon"></i>
        <span>位置：</span>
        <ul class="bread-crumbs">
          <li><a href="#">产品中心</a>&gt;&gt;</li>
          <li><a href="#">新风系统</a>&gt;&gt;</li>
          <li><a href="#">家用新风系统</a></li>
        </ul>
      </nav>
      <div class="pictureShow">
        <p>家用壁挂式新风系统</p>
        <div><img src="/static/images/proShow.png" alt="新风系统展示"></div>
      </div>
    </div>
    <div class="right-form">
      <p>快速报价</p>
      <p>我们会尽快通过电话给您做出详细报价，您也可以立即致电188-0022-2288</p>
      <form action="" method="" enctype="">
        <input type="text" placeholder="姓名" name="" id="" onfocus="this.placeholder=''" onblur="this.placeholder='姓名'">
        <input type="tel" name="" id="" placeholder="电话" onfocus="this.placeholder=''" onblur="this.placeholder='电话'">
        <input type="text" name="" id="" placeholder="房屋面积/汽车型号" onfocus="this.placeholder=''" onblur="this.placeholder='房屋面积/汽车型号'">
        <button type="submit"><span>提交</span></button>
      </form>
    </div>
  </div>
  <div class="parameters">
    <ul class="list-tabs">
      <li><a href="#tab1" title="商品介绍">商品介绍</a></li>
      <li><a href="#tab2" title="商品参数">商品参数</a></li>
    </ul>
    <div class="line"></div>
    <div class="tab-container">
      <div id="tab1" class="tab-content">
        <img src="/static/images/proDesc.jpg" alt="商品介绍">
      </div>
      <div id="tab2" class="tab-content">
        <h1>这是第二个标签</h1>
      </div>
    </div>
  </div>
</div>
</div>
<div id="content-bot">
  <div class="friendly-link">
    <p>友情链接</p>
    <ul class="clearfix">
      <!-- <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li> -->
    </ul> 
  </div>
</div>
  <footer id="footer">
    <div>
      <div class="content overflow">
        <p>联系我们<span>contact us</span></p>
        <div class="main clearfix">
          <div class="footer-left">
            <div>
              <p>Hotline：130-1111-6779</p>
              <p>E-mail：huaxiajunan@126.com</p>
              <p>Adress：北京市海淀区上地十街1号院4号楼16层1601室</p>
            </div>
          </div>
          <div class="footer-right">
            <div class="overflow">
              <p><img src="/static/images/contact-logo.png" alt=""></p>
              <p>
                <img src="/static/images/en-slogan.png" alt="">
              </p>
              <p>改变室内空气质量我们一直在努力</p>
              <p>
                <!-- 加上viewbox属性后报错?百度一下viewbox -->
                <svg width="90" height="2" version="1.1" xmlns="http://www.w3.org/2000/svg">
                  <line x1="0" y1="1" x2="30" y2="1" stroke="#fff" stroke-width="2"/>
                  <line x1="30" y1="1" x2="60" y2="1" stroke="#f89400" stroke-width="2"/>
                  <line x1="60" y1="1" x2="90" y2="1" stroke="#197463" stroke-width="2"/>
                </svg>
              </p>
            </div>
            <div>
              <img src="/static/images/contact-code.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div> 
  </footer>
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/cssslidy.js"></script>
  <script>cssSlidy();</script>
<script type="text/javascript" src="/commons/commons/webpack-runtime.93162d21a90e667f1471.js?93162d21a90e667f1471"></script><script type="text/javascript" src="/commons/commons/bundle.e4bc4c80e6e2a012a160.js?93162d21a90e667f1471"></script><script type="text/javascript" src="/js/entry.54f2ad914c938b41f386.js?93162d21a90e667f1471"></script></body>
</html>