<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title> 新闻中心详情 </title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" /> 
  <meta name="renderer" content="webkit" />
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  
  <!--[if lt IE 10]>
    <script src="/static/js/html5shiv.min.js"></script>
  <![endif]-->
<link href="/css/styles.8a4bf8b0a27cff1d31598fab000850df.css?93162d21a90e667f1471" rel="stylesheet"/><link href="/css/styles.637b0de4e382e415444be39b6aa593e2.css?93162d21a90e667f1471" rel="stylesheet"/></head>
<body>
  <!--[if lt IE 9]>
    <script src="/static/js/respond.min.js"></script>
  <![endif]-->
  <header id="header">
    <div class="logoBar">
      <div class="logoBar-right">
          <div>
            <span><i class="icon-nav-tel"></i>130-1111-6779</span>
            <span><i class="icon-nav-email"></i>huaxiajunan@126.com</span>
          </div>
      </div>
      <div class="logoBar-left">
        <div>
            <a href="#"><img src="/static/images/logo.jpg" alt=""></a>
            <!-- 百度搜的很少人这样用 -->
            <h1 style="display:none">华夏君安</h1>
        </div>
        <div>
          <img src="/static/images/slogan.png" alt="">
        </div>
      </div>
    </div>
  </header>
  <nav id="navbar">
    <ul>
      <li>
        <a href="/index">首页</a>
      </li>
      <li>
        <a href="/treatment">甲醛治理<i></i></a>
        <ul>
          <li><a href="#">室内除甲醛</a></li>
          <li><a href="#">车内除甲醛</a></li>
        </ul>
      </li>
      <li>
        <a href="/newSys">新风系统</a>
      </li>
      <li>
        <a href="/airTest">室内空气检测</a>
      </li>
      <li>
        <a href="/product">产品中心</a>
      </li>
      <li>
        <a href="/success">成功案例</a>
      </li>
      <li>
        <a href="/news">新闻中心</a>
      </li>
      <li>
        <a href="/about">关于我们<i></i></a>
        <ul>
          <li><a href="#">公司简介</a></li>
          <li><a href="#">企业文化</a></li>
          <li><a href="#">荣誉资质</a></li>
          <li><a href="#">服务团队</a></li>
          <li><a href="#">联系我们</a></li>
        </ul>
      </li>
    </ul>
  </nav>

<div id="wrapper">
  <style type="text/css">
  #banner{
    background:url(/static/images/newsBanner.jpg) no-repeat scroll center;
  }
</style>
<div id="banner"></div>
<section>
  <main>
    <div class="content">
      <nav class="bread-crumbs">
        <i class="icon-locationIcon"></i>
        位置：
        <a href="#">新闻中心&gt;&gt;</a>
        <a href="#">安装新风机是现代家居新标配，新风机将普及到家家户户</a>
      </nav>
      <h3>安装新风机是现代家居新标配，新风机将普及到家家户户<span>2017-08-11</span></h3>
      <p>
        新风机有三个基本的功能让你自由呼吸<br/>
        第一个是通风，这个不言而喻，是最基本的功能；<br/>
        第二个功能是热回收，就是把进入室内的新鲜空气和室内要排出的污浊空气之间进行能量交换，让污浊空气排出的同时能量却留了下来。通过热回收，送入室内的新鲜空气的温度接近室内温度，体感舒适，并且运行经济，节能环保；<br/>
      </p>
      <div><img src="/static/images/newsDetail.jpg" alt=""></div>
      <p>第三个基本功能也正是针对目前的大雾天气的，那就是过滤功能。好的新风机的过滤一般都能达到很高的级别，室外的可吸入颗粒物（如各种粉尘、灰尘、烟尘等）在进入室内之前均可有效过滤。</p>
      <p>新风机能持续不断的将室内污浊空气及时排出，同时引入室内新鲜空气，并有效控制风量大小、增加能量回收；营造健康良好的室内高品质生活环境，为居民打造健康节能环境。</p>
      <p>
        新风机有三个基本的功能让你自由呼吸<br/>
        第一个是通风，这个不言而喻，是最基本的功能；<br/>
        第二个功能是热回收，就是把进入室内的新鲜空气和室内要排出的污浊空气之间进行能量交换，让污浊空气排出的同时能量却留了下来。通过热回收，送入室内的新鲜空气的温度接近室内温度，体感舒适，并且运行经济，节能环保；<br/>
      </p>
      <p>第三个基本功能也正是针对目前的大雾天气的，那就是过滤功能。好的新风机的过滤一般都能达到很高的级别，室外的可吸入颗粒物（如各种粉尘、灰尘、烟尘等）在进入室内之前均可有效过滤。</p>
      <p>新风机能持续不断的将室内污浊空气及时排出，同时引入室内新鲜空气，并有效控制风量大小、增加能量回收；营造健康良好的室内高品质生活环境，为居民打造健康节能环境。</p>
    </div>
    <aside class="aside">
      <dl class="news-list">
        <dt><i class="icon icon-newsTitle"></i><span>热点资讯</span></dt>
        <dd><i class="icon-newsArrow"></i><a href="#">新风系统有用吗？</a></dd>
        <dd><i class="icon-newsArrow"></i><a href="#">新房装修时就可以入住？怎样知道甲醛含量？</a></dd>
        <dd><i class="icon-newsArrow"></i><a href="#">光触媒除甲醛会不会有二次污染问题？</a></dd>
        <dd><i class="icon-newsArrow"></i><a href="#">刚装修的新房，除甲醛用的活性炭应该多久换一次？</a></dd>
        <dd><i class="icon-newsArrow"></i><a href="#">办公室净化空气，应该选择新风系统还是空气净化...</a></dd>
      </dl>
      <dl class="news-list">
        <dt><i class="icon icon-newsTitle"></i><span>最新动态</span></dt>
        <dd><i class="icon-newsArrow"></i><a href="#">新风系统有用吗？</a></dd>
        <dd><i class="icon-newsArrow"></i><a href="#">新房装修时就可以入住？怎样知道甲醛含量？</a></dd>
        <dd><i class="icon-newsArrow"></i><a href="#">光触媒除甲醛会不会有二次污染问题？</a></dd>
        <dd><i class="icon-newsArrow"></i><a href="#">刚装修的新房，除甲醛用的活性炭应该多久换一次？</a></dd>
        <dd><i class="icon-newsArrow"></i><a href="#">办公室净化空气，应该选择新风系统还是空气净化...</a></dd>
      </dl>
      <div class="aside-logo"><img src="/static/images/asideLogo.jpg" alt="华夏君安"></div>
      <div><img src="/static/images/workhard.png" alt="为室内空气质量，我们一直在努力"></div>
    </aside>
  </main>
</section>
</div>
<div id="content-bot">
  <div class="friendly-link">
    <p>友情链接</p>
    <ul class="clearfix">
      <!-- <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li>
      <li><a href="https://www.baidu.com" rel="nofollow">百度</a></li> -->
    </ul> 
  </div>
</div>
  <footer id="footer">
    <div>
      <div class="content overflow">
        <p>联系我们<span>contact us</span></p>
        <div class="main clearfix">
          <div class="footer-left">
            <div>
              <p>Hotline：130-1111-6779</p>
              <p>E-mail：huaxiajunan@126.com</p>
              <p>Adress：北京市海淀区上地十街1号院4号楼16层1601室</p>
            </div>
          </div>
          <div class="footer-right">
            <div class="overflow">
              <p><img src="/static/images/contact-logo.png" alt=""></p>
              <p>
                <img src="/static/images/en-slogan.png" alt="">
              </p>
              <p>改变室内空气质量我们一直在努力</p>
              <p>
                <!-- 加上viewbox属性后报错?百度一下viewbox -->
                <svg width="90" height="2" version="1.1" xmlns="http://www.w3.org/2000/svg">
                  <line x1="0" y1="1" x2="30" y2="1" stroke="#fff" stroke-width="2"/>
                  <line x1="30" y1="1" x2="60" y2="1" stroke="#f89400" stroke-width="2"/>
                  <line x1="60" y1="1" x2="90" y2="1" stroke="#197463" stroke-width="2"/>
                </svg>
              </p>
            </div>
            <div>
              <img src="/static/images/contact-code.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div> 
  </footer>
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/cssslidy.js"></script>
  <script>cssSlidy();</script>
<script type="text/javascript" src="/commons/commons/webpack-runtime.93162d21a90e667f1471.js?93162d21a90e667f1471"></script><script type="text/javascript" src="/commons/commons/bundle.e4bc4c80e6e2a012a160.js?93162d21a90e667f1471"></script><script type="text/javascript" src="/js/entry.81dc1b726791f9b50b0d.js?93162d21a90e667f1471"></script></body>
</html>